<!DOCTYPE html>
<html lang="en"  dir="ltr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script src="https://kit.fontawesome.com/63a2b78b2b.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>
    <title>Finanzen</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <div class="profile">
            <div class="profile_details">
                <div class="name_status">
                    <div class="name" sec:authorize="isAuthenticated()" th:text="${#authentication?.name}"></div>
                    <div class="status" sec:authorize="isAuthenticated()" th:text="${'Role'}"></div>
                </div>
            </div>
            <form class="item" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                <button type="submit" class="ui button" th:text="Logout">Logout</button>
            </form>
        </div>

        <ul class="nav-list">
            <li><a href="/home"><i class="fas fa-home"></i>Überblick</a></li>
            <li><a href="/betting"><i class="fas fa-money-check-alt"></i>Wetten</a></li>
            <li><a href="/community"><i class="fas fa-users"></i>Gemeinschaft</a></li>
            <li><a href="/finances"><i class="fas fa-coins"></i>Finanzen</a></li>
            <li><a href="/admin" sec:authorize="hasRole('BOSS')"><i class="fas fa-management"></i>Admin</a></li>
        </ul>
    </div>
</div>

<h1>Benutzer Informationen</h1>
<h2>Hier sind die Informationen für alle Benutzer</h2>
<section class="main_content">

    <!--    <table class="ui celled table">-->
    <!--        <thead>-->
    <!--        <tr>-->
    <!--            <th th:text="User ID">User ID</th>-->
    <!--            <th th:text="User Name">User Name</th>-->
    <!--&lt;!&ndash;            <th th:text="Football Betting">Football Betting</th>&ndash;&gt;-->
    <!--        </tr>-->
    <!--        </thead>-->
    <!--        <tbody th:remove="all-but-first">-->
    <!--        <tr th:each="item : ${userinfo}">-->
    <!--            <td th:text="${item.userAccountIdentifier}">468567</td>-->
    <!--            <td th:text="${item.firstname}">Tommy</td>-->
    <!--        </tr>-->
    <!--        </tbody>-->
    <!--    </table>-->


    <!-- <table>
         <thead>
         <tr>
             <th>User name</th>
             <th>User ID</th>
         </tr>
         </thead>
         <tbody th:remove="all-but-first">
         <tr th:each="item : ${userinfo}">
             <td th:text="${item.name}">468567</td>
             <td th:text="${item.id}">468567</td>
         </tr>
         </tbody>
     </table>-->
    <table class="table">
        <thead>
        <tr>
            <th>Community ID</th>
            <th>User Name</th>
            <th>User ID</th>
            <th>Football Wetten Betrag</th>
            <th>Lotto Wetten Betrag</th>
            <th>Football Match Result</th>
            <th>Lotto Result</th>
            <th>Win/Lose(football)</th>
            <th>Win/Lose(Lotto)</th>
        </tr>
        </thead>
<!--        <tr>-->
<!--            <th>NAME</th>-->
<!--            <th>ID</th>-->
<!--        </tr>-->
<!--        <tr th:each="prod : ${userinfo}">-->
<!--            <td th:text="${prod.name}">Onions</td>-->
<!--            <td th:text="${prod.id}">2.41</td>-->
<!--        </tr>-->
        <tbody>

        </tbody>
    </table>
</section>
</body>
</html>