<!DOCTYPE html>
<html lang="en"  dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script src="https://kit.fontawesome.com/63a2b78b2b.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>
    <title>Wetten</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<nav th:include="navigation :: navigation"></nav>

<section class="main_content">
    <h1>Wetten</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Lotto</th>
            <th scope="col">Datum</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lottery : ${lotteryList}">
            <th th:text="${lottery.lotteryName}"> </th>
            <th th:text="${lottery.date}"> </th>
            <th>
                <button th:data-id="${lottery.id}" th:onclick="enterWettenLottery(this.getAttribute('data-id'))"><span> Wetten!</span></button>
            </th>
        </tr>

        </tbody>
    </table>
    <script>
        function enterWettenLottery(productId){
            window.location.href = "/betting/lotteryView?productId=" + productId;
        }
    </script>
</section>
</body>
</html>