<!DOCTYPE html>
<html lang="en"  dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script src="https://kit.fontawesome.com/63a2b78b2b.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>
    <title>Gemeinschaften</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<nav th:include="navigation :: navigation"></nav>

<section class="main_content">
    <h1>Gemeinschaft</h1>
    <p sec:authorize="isAuthenticated()" th:text="${'Hi ' + #authentication?.name + ', hier stehen deine Gemeinschaften'}"></p>


    <!-- Hier kommt Alles für die Gemeinschaften rein -->
    <!-- Hier ist nicht alles Korrekt, weil wir noch kein html(ueberblick und wetten) fuer Jede Community-->
    <!-- Hier wird statt nur Communities fuer loginuser alle communities angezeigt, weil es noch ein Problem ueber join gibt-->

    <h2 align="center">Ihre Gemeinschäfte:</h2>
        <h3 align="center">Jetzt aber alle Gemeinschäfte</h3>
    <table align="center " class="table">
        <thead>
        <tr th:each="community : ${communitiesall} ">
            <td th:text="${community.name}">CommunityName</td>
            <td>
                <a href="/home">
                    <button>Überblick</button>
                </a>
            </td>
            <td>
                <a href="/betting">
                    <button>Wetten</button>
                </a>
            </td>
        </tr>
        </thead>
    </table>

    <h3 align="center">Jetzt aber alle Gemeinschäfte</h3>
    <table align="center " class="table">
        <thead>
        <tr th:each="community : ${communityList} ">
            <td th:text="${community.name}">CommunityName</td>
            <td>
                <a href="/home">
                    <button>Überblick</button>
                </a>
            </td>
            <td>
                <a href="/betting">
                    <button>Wetten</button>
                </a>
            </td>
        </tr>
        </thead>
    </table>

    <a  href="/create">
        <button  class="button_slide slide_right">erstellen</button>
    </a>
    <a  href="/join">
        <button  class="button_slide slide_right">beitreten</button>
    </a>
</section>
</body>
</html>