<!DOCTYPE html>
<html lang="en"  dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script src="https://kit.fontawesome.com/63a2b78b2b.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>
    <title>Admin</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<nav th:include="navigation :: navigation"></nav>
<section class="main_content">
    <h1>User Information</h1>
    <p sec:authorize="isAuthenticated()" th:text="${'Hi ' + #authentication?.name + ', hier kannst du alle Informationen von Benutzer ' + id + ' sehen!'}"></p>
    <td>User Name : </td>
    <td th:text="${detail.getUserAccount.getId}">testUser</td><br/>
    <td>E-mail Address : </td>
    <td th:text="${detail.getUserAccount.getEmail}">testUser</td><br/>
    <td>Lottery Address : </td>
    <td th:text="${detail.getLotteryAddress}">testUser</td><br/>
    <td>Joined Communities : </td><br/>
    <table class="table">
        <thead>
        <tr>
            <td>Community Name</td>
            <td>Überblick</td>
        </tr>
        </thead>
        <tbody th:remove="all-but-first">
        <tr th:each="item : ${joinedCommunity}">
            <td th:text="${item.name}">gruppe</td>
            <td>
                <a href="/admin">
                    <button>Überblick</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table><br/>
    <td>Betting : </td>

</section>
</body>
</html>