<!DOCTYPE html>
<html lang="en"  dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script src="https://kit.fontawesome.com/63a2b78b2b.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>
    <title>Finanzen</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<nav th:include="navigation :: navigation"></nav>

<section class="main_content">

    <h1>Finanzen</h1>
    <h2 >Ihr Saldo:
    <p id=balance th:field="*{balance}" th:text="${balance}">0.0 EURO</p>
    </h2>
    <br/><br/>

    <form   align="center" name ="finances" role="form"  th:object="${form}" th:action="@{/finances}" method="post">
        <div class="field">
            <label th:text="Geldbetrag">Geldbetrag</label>
            <input class="input"  th:field="*{amount}" th:errorclass="is-invalid" required="required" min="0"/> <br/> <br/>
            <p  th:if="${#fields.hasErrors('amount')}">
                ╮(๑•́ ₃•̀๑)╭ Geldbeitrag kann nicht kleiner als 0</p>
            <p  th:if="${param.error}">
                ╮(๑•́ ₃•̀๑)╭  get a job!</p>
            <label th:text="Beschreibung">Beschreibung</label>
            <input class="input" th:field="*{note}" type="text" />
            <br/> <br/>
        </div><br/>
        <button class="button_slide slide_left"  type="submit" name="action" value="deposit">Einzahlung</button>
        <button class="button_slide slide_left" type="submit" name="action" value="withdraw">Auszahlung</button>
    </form>

    <h2>Transaktion</h2>
    <h3>Einzahlung und Auszahlung</h3>
    <table class="table">
        <thead>
        <tr>
            <th th:text="Beschreibung"></th>
            <th th:text="Geldbetrag"></th>
            <th th:text="Transaktionsdatum"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry: ${entries}">
            <td th:text="${entry.note}"></td>
            <td th:text="${entry.amount}"></td>
            <td th:text="${entry.date}"></td>
        </tr>

        </tbody>
    </table>

</section>
</body>
</html>