<!DOCTYPE html>
<html lang="en"  dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>
    <title>Finanzen</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<nav th:include="navigation :: navigation"></nav>

<section class="main_content">
    <h1>Finanzen</h1>

        <p sec:authorize="isAuthenticated()" th:text="${'Hi ' + #authentication?.name + ', hier ist dein Geld zu sehen.'}">
        <h2 align="center">Ihr Saldo:
        <p id=balance th:field="*{balance}" th:text="${balance}">0.0 EURO</p>

    </h2><br/><br/>

        <form  onsubmit="return checkBalance()" align="center" name ="finances" role="form"  th:object="${form}" th:action="@{/finances}" method="post">
            <div class="field">
                <label th:text="Geldbetrag">Geldbetrag</label>
                <input class="input"  th:field="*{amount}" th:errorclass="is-invalid" required="required" min="0"/> <br/> <br/>
                <p  th:if="${#fields.hasErrors('amount')}" th:class="${#fields.hasErrors('amount')}? error">
                    ╮(๑•́ ₃•̀๑)╭Geldbeitrag kann nicht kleiner als 0</p>
                <label th:text="Note">Note</label>
                <input class="input" th:field="*{note}" type="text" />
                <br/> <br/>
            </div><br/>
            <button class="button_slide slide_left"  type="submit" name="action" value="deposit">Einzahlung</button>
            <button class="button_slide slide_left" type="submit" name="action" value="withdraw">Auszahlung</button>
        </form>

    <h2>Transaktion</h2>
    <h3>Einzahlung und Auszahlung</h3>
    <table class="table">
        <thead>
        <tr>
            <th th:text="index"></th>
            <th th:text="Amount"></th>
            <th th:text="Note"></th>
            <th th:text="Time"></th>
        </tr>
        </thead>
        <tbody th:remove="all-but-first">

        <tr th:each="entry, it : ${entries}"  th:with="index = ${it.count}">
            <td th:text="${index}"></td>
            <td th:text="EUR+${entry.amount}"></td>
            <td th:text="${entry.note}"></td>
            <td th:text="${#temporals.format(entry.date,'yyyy-MM-dd hh:mm:ss')}"></td>
        </tr>

        </tbody>
    </table>
    <h3>Andere</h3>
    <table class="table">
        <thead>
        <tr>
            <th th:text="index"></th>
            <th th:text="Amount"></th>
            <th th:text="Note"></th>
            <th th:text="Time"></th>
        </tr>
        </thead>
        <tbody th:remove="all-but-first">

        <tr th:each="bet, it : ${bets}"  th:with="index = ${it.count}">
            <td th:text="${index}"></td>
            <td th:text="${bet.bettingAmount}"></td>
            <td>Automatische Abbuchung</td>
            <td th:text></td>
        </tr>
        </tbody>
    </table>
    </p>
</section>
</body>
</html>