<!DOCTYPE html>
<html lang="en"  dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script src="https://kit.fontawesome.com/63a2b78b2b.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>
    <title>Finanzen</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <div class="profile">
            <div class="profile_details">
                <div class="name_status">
                    <div class="name" sec:authorize="isAuthenticated()" th:text="${#authentication?.name}"></div>
                    <div class="status" sec:authorize="isAuthenticated()" th:text="${'Role'}"></div>
                </div>
            </div>
            <form class="item" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                <button type="submit" class="ui button" th:text="Logout">Logout</button>
            </form>
        </div>

        <ul class="nav-list">
            <li><a href="/home"><i class="fas fa-home"></i>Überblick</a></li>
            <li><a href="/betting"><i class="fas fa-money-check-alt"></i>Wetten</a></li>
            <li><a href="/community"><i class="fas fa-users"></i>Gemeinschaft</a></li>
            <li><a href="/finances"><i class="fas fa-coins"></i>Finanzen</a></li>
        </ul>
    </div>
</div>

<section class="main_content">
    <h1>Finanzen</h1>
    <p sec:authorize="isAuthenticated()" th:text="${'Hi ' + #authentication?.name + ', hier ist dein Geld zu sehen.'}"></p>

        <h2 align="center">Ihr Saldo:<p th:text="${balance}"></p></h2>

        <form name ="finances" role="form" th:object="${form}" th:action="@{/finances}" method="post">
            <div class="field">
                <label th:text="Geldbetrag">Geldbetrag</label>
                <input id="amount" name="amount" type="number" th:field="*{amount}"/> <br/>
                <label th:text="Note">Note</label>
                <input id="note" name="note" type="text"  th:field="*{note}"/> <br/>
            </div>
            <button type="submit" name="action" value="deposit">Einzahlung</button>
            <button type="submit" name="action" value="withdraw">Auszahlung</button>
        </form>
        <h3>Transaktion</h3>
        <div th:each="entry, it : ${entries}"  th:with="index = ${it.count}">
            <div th:text="${index} + '.AMOUNT:' + ${entry.amount}+ '         Note:  ' + ${entry.note} +
            '            Time:' +${#temporals.format(entry.date,'yyyy-MM-dd hh:mm:ss')}  "></div>
        </div>

</section>
</body>
</html>