<!DOCTYPE html>
<html lang="en"  dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script src="https://kit.fontawesome.com/63a2b78b2b.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>
    <title>Wetten</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <div class="profile">
            <div class="profile_details">
                <div class="name_status">
                    <div class="name" sec:authorize="isAuthenticated()" th:text="${#authentication?.name}"></div>
                    <div class="status" sec:authorize="isAuthenticated()" th:text="${'Role'}"></div>
                </div>
            </div>
            <form class="item" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                <button type="submit" class="ui button" th:text="Logout">Logout</button>
            </form>
        </div>

        <ul class="nav-list">
            <li><a href="/home"><i class="fas fa-home"></i>Überblick</a></li>
            <li><a href="/betting"><i class="fas fa-money-check-alt"></i>Wetten</a></li>
            <li><a href="/community"><i class="fas fa-users"></i>Gemeinschaft</a></li>
            <li><a href="/finances"><i class="fas fa-coins"></i>Finanzen</a></li>
        </ul>
    </div>
</div>

<section class="main_content">
    <h1>Wetten</h1>
    <p sec:authorize="isAuthenticated()" th:text="${'Hi ' + #authentication?.name + ', hier kannst du Wetten abschließen!'}"></p>


    <table>
        <thead>
        <tr>
            <th scope="col">Datum</th>
            <th scope="col">Heim</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Gast</th>
            <th scope="col">Wettbetrag</th>
            <th scope="col">Button</th>
        </tr>
        </thead>
        <tbody>
        <form method="post" role="form" class="ui form" id="form" th:action="@{/football}">
            <tr th:each="match : ${matches}">
                <input type="hidden" name="mid" value="0" th:value="${match.id}"/>
                <th th:text="${match.getDate().toString()}"> </th>
                <th th:text="${match.getHome()}"> </th>
                <th>
                    <input id="home_score" type="number" name="home_score" min="0" max="20" step="1" value="0"/>
                </th>
                <th>
                    <input id="guest_score" type="number" name="guest_score" min="0" max="20" step="1" value="0"/>
                </th>
                <th th:text="${match.getGuest()}"> </th>
                <th>
                    <input id="amount" type="number" name="amount" min="0" step="1" value="1"/>
                </th>
                <th>
                    <button type="submit"><span> Wetten!</span></button>
                </th>
            </tr>

        </form>

        </tbody>
    </table>
</section>
</body>
</html>