<!DOCTYPE html>
<html lang="en"  dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script src="https://kit.fontawesome.com/63a2b78b2b.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>
    <title>Welcome</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<nav th:include="navigation :: navigation"></nav>

<section class="main_content">
    <h1>ÜBERBLICK</h1>
    <h3></h3>
    <div class="error">
        <p  th:if="${param.error}">╮(๑•́ ₃•̀๑)╭Ihr Guthaben ist niedrig, Sie können jetzt keine Wette platzieren!</p>
    </div>
    <div id="wrapper">
        <div class="container" id="account_details">
            <div class="container_head">
                <p id="account_label"> Kontoinformationen:</p>
            </div>
            <div class="container_content">
                <ul>
                    <li>
                        <p> Name:</p>
                        <p th:text="${username}"></p>
                    </li>
                    <li th:if="${email_address != null}">
                        <p> Email-Adresse:</p>
                        <p th:text="${email_address}"></p>
                    </li>
                    <li th:if="${lottery_address != null}">
                        <p> Lotteriekonto-Adresse:</p>
                        <p th:text="${lottery_address}"></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container" id="user_balance">
            <div class="container_head">
                <p id="balance_label"> Ihr Saldo:</p>
            </div>
            <div class="container_content">
                <div id="balance_container">
                    <p id="value" th:field="*{balance}" th:text="${balance}">0.00 Euro</p>
                </div>
            </div>
        </div>
        <div class="container" id="completed_bets">
            <div class="container_head">
                <p id="complete_bets_label"> Wettstatistik</p>
            </div>
            <div class="container_content">
                <ul>
                    <li>
                        <p> Anzahl gespielter Wetten:</p>
                        100
                    </li>
                    <li>
                        <p> Anzahl gewonnener Wetten:</p>
                        20
                    </li>
                    <li>
                        <details>
                            <summary>Win/Lose Allgemein: 0.2</summary>
                            <span>
                  <ul>
                    <li>Win/Lose Lotto: 0.4</li>
                    <li>Win/Lose Fußballtoto: 0.1</li>
                  </ul>
                </span>
                        </details>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container" id="current_bets">
            <div class="container_head">
                <p id="current_bets_label"> Laufende Wetten</p>
            </div>
            <div class="container_content">
                <div id="bets_empty" th:if="${bets.empty}">
                    <p id="empty_text">Sie haben noch keine Wetten abgeschlossen</p>
                </div>
                <ul th:each="bet : ${bets}">
                    <li>
                        <details>
                            <summary th:text="${bet.reference}">Wette 1: Lotto 6 aus 49</summary>
                            <span>
                              <ul>
                                <li th:text="EUR  + ${bet.getTotalBettingAmount()}">Wetteinsatz: 10 Euro</li>
                                <li th:text="${bet.value}">Wette: 1,2,3,4,5,6,7</li>
                              </ul>
                            </span>
                        </details>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
</body>
</html>