<!DOCTYPE html>
<html lang="en"  dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script src="https://kit.fontawesome.com/63a2b78b2b.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>
    <title>Welcome</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <div class="profile">
            <div class="profile_details">
                <div class="name_status">
                    <div class="name" sec:authorize="isAuthenticated()" th:text="${#authentication?.name}"></div>
                    <div class="status" sec:authorize="isAuthenticated()" th:text="${'Role'}"></div>
                </div>
            </div>
            <form class="item" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                <button type="submit" class="ui button" th:text="Logout">Logout</button>
            </form>
        </div>

        <ul class="nav-list">
            <li><a href="/home"><i class="fas fa-home"></i>Überblick</a></li>
            <li><a href="/betting"><i class="fas fa-money-check-alt"></i>Wetten</a></li>
            <li><a href="/community"><i class="fas fa-users"></i>Gemeinschaft</a></li>
            <li><a href="/finances"><i class="fas fa-coins"></i>Finanzen</a></li>
            <li><a href="/admin" sec:authorize="hasRole('BOSS')"><i class="fas fa-management"></i>Admin</a></li>
        </ul>
    </div>
</div>

<section class="main_content">
    <h1>Überblick</h1>
    <p sec:authorize="isAuthenticated()" th:text="${'Hi ' + #authentication?.name + ', hier hast du einen Überblick deines Kontos'}"></p>
    <table id="show-table" class="table">
        <thead>
        <tr>
            <td>Nummern</td>
            <td>Superzahl</td>
            <td>Menge</td>
            <td>Ergebnis</td>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
<script>
    $.get("/number/findNumberRecordList", function(data){
        var list = data.data;
        var table = $("#show-table");
        for(var i = 0; i < list.length; i++) {
            var item = list[i];
            var tr = '<tr><td>' + item.numberListStr + '</td><td>' + item.superzahl + '</td><td>' + item.menge + '</td><td>' + item.result + '</td></tr>';
            table.append(tr);

        }
    })
</script>

    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Wette</th>
            <th scope="col">Betrag</th>
            <th scope="col">Ergebnis</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bet : ${bets}">
            <th th:text="${bet.getMatchID()}"> </th>
            <th th:text="${bet.getReturnValue()}"> </th>
            <th th:text="${bet.getScore()}"> </th>
        </tr>

        </form>

        </tbody>
    </table>

</section>
</body>
</html>