<!DOCTYPE html>
<html lang="en"  dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script src="https://kit.fontawesome.com/63a2b78b2b.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>
    <title>Wetten</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <div class="profile">
            <div class="profile_details">
                <div class="name_status">
                    <div class="name" sec:authorize="isAuthenticated()" th:text="${#authentication?.name}"></div>
                    <div class="status" sec:authorize="isAuthenticated()" th:text="${'Role'}"></div>
                </div>
            </div>
            <form class="item" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                <button type="submit" class="ui button" th:text="Logout">Logout</button>
            </form>
        </div>

        <ul class="nav-list">
            <li><a href="/home"><i class="fas fa-home"></i>Überblick</a></li>
            <li><a href="/betting"><i class="fas fa-money-check-alt"></i>Wetten</a></li>
            <li><a href="/community"><i class="fas fa-users"></i>Gemeinschaft</a></li>
            <li><a href="/finances"><i class="fas fa-coins"></i>Finanzen</a></li>
            <li><a href="/admin" sec:authorize="hasRole('BOSS')"><i class="fas fa-management"></i>Admin</a></li>
        </ul>
    </div>
</div>

<section class="main_content">
    <h1>Wetten</h1>
    <p sec:authorize="isAuthenticated()" th:text="${'Hi ' + #authentication?.name + ', hier kannst du Wetten abschließen!'}"></p>


    <table class="table">
        <thead>
        <tr>
            <th scope="col">Lotto</th>
            <th scope="col">Datum</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lottery : ${lotteryList}">
            <th th:text="${lottery.lotteryName}"> </th>
            <th th:text="${lottery.date}"> </th>
            <th>
                <button th:data-id="${lottery.id}" th:onclick="enterWettenLottery(this.getAttribute('data-id'))"><span> Wetten!</span></button>
            </th>
        </tr>

        </tbody>
    </table>
    <script>
        function enterWettenLottery(productId){
            window.location.href = "/lotteryView?productId=" + productId;
        }
    </script>
</section>
</body>
</html>