<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">

  <script src="https://kit.fontawesome.com/63a2b78b2b.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="wrapper">
  <div class="sidebar">
    <div class="profile">
      <div class="profile_details">
        <div class="name_status">
          <div class="name">Hannes Reinhold</div>
          <div class="status">Administrator</div>
        </div>
      </div>
      <i class="fas fa-sign-out-alt" id="log_out"></i>
    </div>

    <ul class="nav-list">
      <li><a href="/home"><i class="fas fa-home"></i>Overview</a></li>
      <li><a href="/betting"><i class="fas fa-money-check-alt"></i>Bets</a></li>
      <li><a href="/community"><i class="fas fa-users"></i>Community</a></li>
      <li><a href="/finances"><i class="fas fa-coins"></i>Finances</a></li>
      <li><a href="/admin" sec:authorize="hasRole('BOSS')"><i class="fas fa-management"></i>Admin</a></li>
    </ul>
  </div>
</div>
</body>
</html>