<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <section layout:fragment="content">
        <form method="post" role="form" class="ui form" id="form" th:action="@{/register}" th:object="${registrationForm}">

            <h3 class="ui dividing header">Nutzerdaten</h3>

            <div class="ui negative message" th:if="${#fields.hasErrors('*')}">
                <p>Einige Angaben sind nicht korrekt.</p>
            </div>

            <div class="field">
                <label for="name">Nutzername</label>
                <input id="name" name="name" th:field="*{name}" th:errorclass="fieldError" type="text" required="required"/><br/>
                <div class="ui negative message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                    <p>Der Name darf nicht leer sein.</p>
                </div>
            </div>

            <div class="field">
                <label for="password">Passwort</label>
                <input id="password" name="password" th:field="*{password}" th:errorclass="fieldError" type="password"
                       required="required"/><br/>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Das Passwort darf
                    nicht leer sein.</p>
            </div>

            <button type="submit" class="ui button">Registrieren</button>
        </form>
    </section>
</body>
</html>